<h1>Planets</h1>
{{#ecds-accordion-panel items=planets as |planet panel|}}
  {{#panel.header}}
    {{planet.name}}
  {{/panel.header}}
  {{#panel.body}}
   {{planet.description}}
  {{/panel.body}}
{{/ecds-accordion-panel}}
